.seemore-btn{
    border: 3px solid var(--dark-maroon);
    border-radius: 2px;
    text-align: center;
    width: 12.5rem;
    height: 3.75rem;
    margin: auto;
    background: white;
    z-index: 90;
}
.seemore-btn:hover{
    background-color: var(--pinkish-grey-Two);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.seemore-btn h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 8% 0 10% 0 ;
}