@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* bright-orange - Two */
  --Primary-color:#ff5500;
  /* goldenrod */
  --Secondary-color:#fccb05;
  --black-Two: #111111;
  --black-Three: #222222;
  --pinkish-grey-Two: #ccc8c6;
  --dark-maroon: #020001;
  --dark-brown: #110e03;
} 

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}
.kr{
  font-family: 'Noto Sans KR', sans-serif;
}
